#screen {
    border: 1px solid black;
}

button {
    padding: 12px;
    border: 0px;
    background-color: rgb(92, 167, 228);
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

button:hover:enabled {
    background-color: rgb(49, 119, 175);
}

button:disabled {
    background-color: rgb(198, 215, 230);
    color:rgb(143, 178, 206);
}
