body {
    background-color: rgb(20, 20, 20);
    color: rgb(255, 255, 255);

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

button {
    padding: 12px;
    border: 0px;
    background-color: rgb(255, 255, 255);
    font-weight: bold;
}

select {
    padding: 12px;
    border: 0px;
    background-color: rgb(255, 255, 255);
    font-weight: bold;
}

button:hover:enabled {
    background-color: rgb(187, 187, 187);
}

button:disabled {
    background-color: rgb(110, 110, 110);
    color:rgb(54, 54, 54);
}
